:root {
    --primary-color: #2D2D2D;
    --secondary-color: #222;
    --accent-color: #0f0;
    --text-color: #FFFFFF;
    --font-family: 'Montserrat', sans-serif;
}

#formdiv {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 10px;
    margin: 10px;
    margin-bottom: 40px;
}

#formdiv label, button, input {
    padding: 7px;
}

#formdiv button {
    margin-top: 10px;
    padding: 10px;
    grid-column: 1 / 3;
}

#formdiv #update_buttons {
    grid-column: 1 / 3;
    display: none;
}

#formdiv #update_buttons button {
    flex: 1;
    margin-right: 5px;
}

#formdiv #update_buttons button + button{
    margin-left: 5px;
    margin-right: 0px;
}

#formdiv label{
    font-weight: bolder;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

table th, td {
    padding: 5px;
    border: 1px solid black;
}

table button {
    padding: 2px;
}